*, *:after, *:before {
	box-sizing: border-box;
}

.custom-select {
    display: flex;
    margin-top: 16px;

    select {
        margin-left: 16px;
    }
}

.table {
    &.bg-dark {
        thead {
            border: 1px solid lighten(#282c34, 40%);
        }
    }

    &.bg-light {
        thead {
            border: 1px solid darken(#E0C097, 40%);
        }
    }
}

.components {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 24px;
}

.card {
    width: 200px;
    height: 200px;
    background: #E0C097;

    &.bg-dark {
        border: 1px solid lighten(#282c34, 40%);
    }

    &.bg-light {
        border: 1px solid darken(#E0C097, 40%);
    }
}

.bg-dark {
    background: #282c34;
    color: white;
}

.bg-light {
    background: #E0C097;
    color: black;
}

.bg-blue {
    background: #0F044C;
    color: white;
}

.bg-yellow {
    background: #FFD700;
    color: black;
}

.container {
    padding: 0 115px;
}
