*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.custom-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.custom-select select {
  margin-left: 16px;
}

.table.bg-dark thead {
  border: 1px solid #868fa2;
}

.table.bg-light thead {
  border: 1px solid #845b27;
}

.components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

.card {
  width: 200px;
  height: 200px;
  background: #E0C097;
}

.card.bg-dark {
  border: 1px solid #868fa2;
}

.card.bg-light {
  border: 1px solid #845b27;
}

.bg-dark {
  background: #282c34;
  color: white;
}

.bg-light {
  background: #E0C097;
  color: black;
}

.bg-blue {
  background: #0F044C;
  color: white;
}

.bg-yellow {
  background: #FFD700;
  color: black;
}

.container {
  padding: 0 115px;
}
/*# sourceMappingURL=elements.css.map */